<h2>Eventos</h2>
<hr>
<form action="" class="form-inline">
  <div class="form-group mb-2 d-flex gap-2">
    <input type="text" class="form-control" placeholder="buscar" style="width: 300px">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>
          <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
          {{ exibirImagem ? 'Mostrar Imagem' : ' Ocultar Imagem'}}
        </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventos">
        <td>
          <img [collapse]="exibirImagem"
          [isAnimated]="true"
          src= "{{ evento.imagemURL }}" alt="" width="60" height="60" class="rounded-circle">
        </td>
        <td>{{ evento.eventoId}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lote}}</td>
        <td>
          <button class="btn btn-outline-primary">Detalhes</button>
          <button class="btn btn-outline-warning ms-1">Editar</button>
          <button class="btn btn-outline-danger ms-1">Excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos || !eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
</table>

